<<<<<<< HEAD
@import 'general-rtl';
@import 'bootstrap-rtl';
@import 'alignment-rtl';
@import 'layout-rtl';
@import 'plugins-rtl';
@import 'components-rtl';
=======
@import 'general-rtl';
@import 'bootstrap-rtl';
@import 'alignment-rtl';
@import 'layout-rtl';
@import 'plugins-rtl';
@import 'components-rtl';
>>>>>>> origin/main
