.search{
    padding: 10px;
}
.text{
    width: 50%;
}
.header{
    padding: 10px;
    border-radius: 15px;
    background-color: #d37ef553;
}
.body{
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.coll{
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #c5d8f1;
    width: 30%;
    margin-right: 10px;
}
.container{
    margin-bottom: 10px;
}

.no-lab-requests{
    border-radius: 15px;
    text-align: center;
}
.pic{
    width: 460px;
    height: 300px;
}