<section class="main-content">
    <ul class="breadcrumb breadcrumb-style">
        <li class="breadcrumb-item">
            <h5 class="page-title m-b-0">Resource management</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            <a routerLink="/dashboard/main">
                <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item">Lab environment</li>
        <li class="breadcrumb-item">My Requests</li>
    </ul>
    <div class="section-body">
        <div class="lab">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>My lab environment requests</h4>
                    </div>
                    <div class="card-body">
                        <div class="lab">
                            <div class="col-sm-12">
                                <div class="search">
                                    <label for="search">Search</label>
                                    <input type="text" class="form-control text" name="search"
                                        placeholder="Filter by name, ref ..."
                                        (input)="handleLabSearch($event)">
                                </div>
                            <div class="no-lab-requests" *ngIf="!labs.length">
                                <img class="pic" src="assets/images/notSelected.png" alt="">
                                <h5>
                                    No lab environment requests found.
                                </h5>
                            </div>
                            <div class="container" *ngFor="let lab of labs; let i = index">
                                <div class="row header">
                                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12">
                                        <div class="badge bg-primary" *ngIf="lab.status === 'PENDING'">{{lab.status}}</div>
                                        <div class="badge bg-success" *ngIf="lab.status === 'ACTIVE'">{{lab.status}}</div>
                                        <div class="badge bg-danger" *ngIf="lab.status === 'COMPLETED'">{{lab.status}}</div>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                        <h5>Lab ref:  
                                            <strong>{{lab.code}}</strong>
                                        </h5>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 text-end">                        
                                        <button class="btn" (click)="toggleCollapse(i)" [attr.aria-expanded]="!isCollapsed[i]" [attr.aria-controls]="'collapseDetails-' + i">View Details</button>
                                    </div>
                                </div>
                                <div id="collapseExample" id="collapseDetails-{{i}}" [ngbCollapse]="!isCollapsed[i]">
                                    <br>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row body">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 coll">
                                                    <strong>Ressource info </strong>
                                                    <hr>
                                                    <div><span>Type : </span>{{ lab.type }} </div>
                                                    <div><span>Backup : </span>{{ lab.backup }} </div>
                                                    <div><span>RAM : </span>{{ lab.ram }} GO </div>
                                                    <div><span>Disk storage : </span>{{ lab.disk }} GO </div>
                                                    <div><span>Processor : </span>{{ lab.processor }} Core </div>
                                                    <div *ngIf="lab.dhcp===true"><span>DHCP : </span> Yes</div>
                                                    <div *ngIf="lab.dhcp===false"><span>DHCP : </span> No</div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 coll">
                                                    <strong>Booking info </strong>
                                                    <hr>
                                                    <div>
                                                        <div><span>Start Date : </span>{{ lab.start | date:"dd/MM/YYYY"
                                                            }} </div>
                                                        <div><span>End Date : </span>{{ lab.end | date:"dd/MM/YYYY"}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 coll">
                                                    <strong>Objective </strong>
                                                    <hr>
                                                    <div>{{ lab.goals }} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>