
.stat-cards-yellow{
    background-color: rgba(222, 209, 136, 0.685);
}
.stat-cards-red{
    background-color: rgba(229, 122, 98, 0.681);
}
.stat-cards-blue{
    background-color: rgba(162, 201, 236, 0.652);
}
.stat-cards-green{
    background-color: rgba(124, 225, 190, 0.679);
}
.stat-cards-purple{
    background-color: rgba(229, 171, 232, 0.675);
}
.stat-cards-orange{
    background-color: rgba(235, 176, 139, 0.655);
}

.pending-column{
    background-color: rgba(162, 201, 236, 0.652);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.in_progress-column{
    background-color: rgba(124, 225, 190, 0.679);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.completed-column{
    background-color: rgba(229, 171, 232, 0.675);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.length{
    font-size: 15px;
    font-weight: lighter;
    color: rgb(243, 170, 24);
}
.due-date{
    color: rgb(243, 67, 67);
}