<<<<<<< HEAD
ngx-dropzone {
    //margin: 20px;
    // background-color: #0f111d;
    background-color: beige;
    color: #6c757d;
    border: 2px dashed rgb(235, 79, 79);
    //height: 60px;
  }
.summ{
    border: none;
    margin-top: -10px;
}
.summIcon:hover{
    color: cornflowerblue;
}
.plus{
    // margin-top: -10px;
    // margin-left: 20%;
    // width: 45px;
    border: none;
}
.plus:hover{
    color: cornflowerblue;
}
.mainSection{
    margin-left: 20%;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -5.5%;
    //color: rgb(69, 69, 71);

}
.eduSection{
   
    margin-bottom: 10px;


}
.eduActionSection{
    margin-top: -14%;
    margin-left: -10px;
}

.actionSection{
    margin-top: -5.5%;
}
.date{
    color: rgb(133, 133, 134);
}
.pTask{
    //color: rgb(69, 69, 71);
    font-size: 11px;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it's above other content */
}

.sections{
    border: 1px solid rgb(164, 162, 162);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.certiLink{
    cursor: pointer;
}
.certiLink:hover{
    color : #6356f3
}
.icon{
    font-size: 40px;
    color: rgb(31, 133, 242);
    border: 0.5px solid rgb(31, 133, 242);
    border-radius: 10px 10px 10px 10px ;
    padding: 5px;
    margin-top: 5px;
}
.sigSection{
    background-color: #e7e8e9;
    border-radius: 10px 10px 10px 10px ;
    padding: 15px;

}
.fileName{
    margin-left: 10px;
}
=======
ngx-dropzone {
    //margin: 20px;
    // background-color: #0f111d;
    background-color: beige;
    color: #6c757d;
    border: 2px dashed rgb(235, 79, 79);
    //height: 60px;
  }
.summ{
    border: none;
    margin-top: -10px;
}
.summIcon:hover{
    color: cornflowerblue;
}
.plus{
    // margin-top: -10px;
    // margin-left: 20%;
    // width: 45px;
    border: none;
}
.plus:hover{
    color: cornflowerblue;
}
.mainSection{
    margin-left: 20%;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -5.5%;
    //color: rgb(69, 69, 71);

}
.eduSection{
   
    margin-bottom: 10px;


}
.eduActionSection{
    margin-top: -14%;
    margin-left: -10px;
}

.actionSection{
    margin-top: -5.5%;
}
.date{
    color: rgb(133, 133, 134);
}
.pTask{
    //color: rgb(69, 69, 71);
    font-size: 11px;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    z-index: 999; /* Ensure it's above other content */
}

.sections{
    border: 1px solid rgb(164, 162, 162);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.certiLink{
    cursor: pointer;
}
.certiLink:hover{
    color : #6356f3
}
.icon{
    font-size: 40px;
    color: rgb(31, 133, 242);
    border: 0.5px solid rgb(31, 133, 242);
    border-radius: 10px 10px 10px 10px ;
    padding: 5px;
    margin-top: 5px;
}
.sigSection{
    background-color: #e7e8e9;
    border-radius: 10px 10px 10px 10px ;
    padding: 15px;

}
.fileName{
    margin-left: 10px;
}
>>>>>>> origin/main
