button {
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.buttonContainer {
    margin-left: 35%;
    margin-right: 30%;
}

.firstButtonContainer {
    margin-left: 35%;
    margin-right: 40%;
}

.next {
    padding-left: 30px;
}

.prev {
    padding-right: 30px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}