<<<<<<< HEAD
.bootstrap-timepicker-widget table td a span {
  margin-left: 0 !important;
}
=======
.bootstrap-timepicker-widget table td a span {
  margin-left: 0 !important;
}
>>>>>>> origin/main
