<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <h5 class="page-title m-b-0">Internship offers</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            <a routerLink="/dashboard/main">
                <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item">Internship</li>
        <li class="breadcrumb-item">List</li>
    </ul>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="col-6">
                        <h4>Internship offers</h4>
                    </div>
                </div>
                <div class="filter row">
                    <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                        <div class="d-flex">
                            <!-- <label class="col-form-label msr-3">Search:</label> -->
                            <input type="text" placeholder="Filter offers" class="form-control"
                                (keyup)='updateFilter($event)'>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row offers-list">
                        <div class="col-9 col-md-9 col-lg-9" *ngFor="let offer of offers">
                            <div class="card author-box card-primary">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="author-box-name col-10">
                                            <h5 style="color: #6777EF;">{{offer.title}}</h5>
                                        </div>
                                    </div>
                                    <div class="author-box-job">
                                        <span class="badge badge-dark"
                                            *ngIf="offer.departement==='Cyber Security'">{{offer.departement}}</span>
                                        <span class="badge badge-primary"
                                            *ngIf="offer.departement==='Development'">{{offer.departement}}</span>
                                        <span class="badge badge-secondary"
                                            *ngIf="offer.departement==='System'">{{offer.departement}}</span>
                                        <span class="badge badge-info"
                                            *ngIf="offer.departement==='Networking'">{{offer.departement}}</span>
                                    </div>
                                    <div class="author-box-description">
                                        <p>{{offer.description|offer}}</p>
                                    </div>
                                    <div class="mb-2 mt-3">
                                        <div class="text-small fw-bold">Technologies required</div>
                                        <span>{{offer.technologies}}</span>
                                    </div>
                                    <br>
                                    <span><strong>Expiration date:
                                        </strong>{{offer.expirationDate|date:'mediumDate'}}</span>
                                    <div class="w-100 d-sm-none"></div>
                                    <div class="float-end mt-sm-0 mt-3">
                                        <a routerLink="/dashboard/offerDetails/{{offer._id}}" class="btn">Apply ></a>
                                        <!-- <a  (click)="FillQuizModal(offer._id)" class="btn">Fill quiz</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>