<<<<<<< HEAD
.filter{
    // margin-left: 15vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.offers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
=======
.filter{
    // margin-left: 15vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.offers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
>>>>>>> origin/main
}