<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
        <li class="breadcrumb-item">
            <h5 class="page-title m-b-0">Internship offers</h5>
        </li>
        <li class="breadcrumb-item bcrumb-1">
            <a routerLink="/dashboard/main">
                <i class="fas fa-home font-17"></i></a>
        </li>
        <li class="breadcrumb-item">Internship</li>
        <li class="breadcrumb-item">List</li>
    </ul>
    <div class="section">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="card" *ngIf="offer">
                    <div class="card-body">
                        <h3>{{offer.title}}</h3>
                        <span class="badge badge-dark"
                            *ngIf="offer.departement==='Cyber Security'">{{offer.departement}}</span>
                        <span class="badge badge-primary"
                            *ngIf="offer.departement==='Development'">{{offer.departement}}</span>
                        <span class="badge badge-secondary"
                            *ngIf="offer.departement==='System'">{{offer.departement}}</span>
                        <span class="badge badge-info"
                            *ngIf="offer.departement==='Networking'">{{offer.departement}}</span>
                        <br><br>
                        <div class="body-section-detail">
                            <h6>Description :</h6>
                            <p>{{offer.description}}</p>
                        </div><br>
                        <div class="row techs-bottom" style="margin-bottom: 10px;">
                            <h6>Technologies required :</h6><span>{{offer.technologies}}</span>
                        </div>
                        <div class="row details-bottom">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h6>Duration</h6>
                                <span *ngIf="offer.period!>=2">{{offer.period}} months</span>
                                <span *ngIf="offer.period!<=1">{{offer.period}} month</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h6>Interns needed</h6>
                                <span *ngIf="offer.internsNumber!>=2"> {{offer.internsNumber}} interns</span>
                                <span *ngIf="offer.internsNumber!<=1"> {{offer.internsNumber}} intern</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h6>Expiration date :</h6><span> {{offer.expirationDate | date:"mediumDate"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="card" *ngIf="encadrant">
                    <div class="card-body">
                        <h5>Professional Mentor</h5>
                        <div class="row" >
                            <div class="col-lg-2 col-xl-2 col-md-3 col-sm-4 col-2">
                                <img src="{{ picsUrl+encadrant.image }}" class="enc-img" />
                            </div>
                            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-9 col-10 name-col-style">
                                <div class="font-16"><strong>{{encadrant.firstName+" "+encadrant.lastName}}</strong></div>
                                <div class="font-14 text-muted"><strong>{{encadrant.roles}} | {{encadrant.departement}}</strong></div>
                                <div class="font-14 text-muted">
                                    <strong>Contact</strong> : <a href="mailto:{{encadrant.email}}">{{encadrant.email}}</a>
                                </div>
                            </div>
                            <div>
                                <div class="meeting-btn-wrapper">
                                    <button class="meeting-btn" (click)="createRequest(encadrant._id)">
                                        Schedule Meeting <i class="far fa-calendar-alt icon"></i>
                                    </button>
                                </div>
                                <div class="calendar-btn-wrapper">
                                    <a (click)="toggleCalendar()">Open Calendar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="offer">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h5>Need a virtual machine?</h5> <a routerLink="/dashboard/lab-request/{{offer._id}}">Click here</a>
                            </div>
                            <!-- <div class="col-1">
                                <i class="fas fa-plus-circle iconVM"></i>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="quizzes && quizzes.length>0">
                    <div class="card-body">
                        <h5>Quizzes available for this internship</h5>
                        <div class="row quiz-title" *ngFor="let quiz of quizzes">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 m-t-5">
                                <span>{{quiz.title}}</span>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-end">
                                <i class="fas fa-book icon" ngbPopover="Start quiz" (click)="fillQuiz(quiz._id)"  triggers="mouseenter:mouseleave"
                                    placement="top">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="quizzes && quizzes.length<1">
                    <div class="card-body">
                        <h5 style="text-align: center;">No quizzes available for this internship</h5>
                    </div>
                </div>
                <div *ngIf="finishQuiz" class="card quiz-done">
                        <div class="card-body">
                            <h1>🎉 QUIZ DONE! 🎉</h1>
                            <p style="text-align: center;">Congratulations on completing the quiz!<br />You're awesome! 🚀</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="questions && questionVisibility">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                            <div 
                                class="quest" 
                                *ngIf="currentQuestionIndex < questions.length" 
                                [@fadeAnimation]>
                                <div class="row">
                                    <h6>{{ questions[currentQuestionIndex]?.question }}</h6>
                                </div>
                                <div class="star">
                                    <ul class="options-list">
                                        <li *ngFor="let option of questions[currentQuestionIndex]?.responses; let j = index;" class="option-item">
                                            <label>
                                                <input
                                                    type="radio"
                                                    (change)="nextQuestion(questions[currentQuestionIndex]?.responses[j])"/>
                                                <span>{{ option.text }}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="float: right;margin-top: 10px;"><strong>{{currentQuestionIndex}} / {{questions.length}}</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="showCalendar">
            <div class="card-body">
                <div class="row">
                <full-calendar [options]='calendarOptions' >
                </full-calendar>
            </div>
            </div>
            
        </div>
        
        
        
    </div>
</section>