<div class="modal-header editRowModal">
  <h4 class="modal-title">Meeting Request</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="meetingForm" (ngSubmit)="onSubmit(meetingForm)">
    <!-- Title -->
    <div class="mb-3">
      <label>Title <span class="text-danger">*</span></label>
      <input type="text" class="form-control" placeholder="Write a title for the meeting..." formControlName="title" />
      <small class="text-danger" *ngIf="meetingForm.get('title')?.invalid && meetingForm.get('title')?.touched">
        Title is required
      </small>
    </div>

    <!-- Note -->
    <div class="mb-3">
      <label>Note <span class="text-danger">*</span></label>
      <textarea class="form-control" placeholder="Write a note or agenda for the meeting..." formControlName="note"></textarea>
      <small class="text-danger" *ngIf="meetingForm.get('note')?.invalid && meetingForm.get('note')?.touched">
        Note is required
      </small>
    </div>

    

    <!-- Buttons -->
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        <span *ngIf="loading" class="button-spinner"></span>
        {{ loading ? 'Sending...' : 'Send Meeting Request' }}
      </button>
      <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>
