<<<<<<< HEAD
h6{
    display: flex;
    justify-content: center;
    color: #1d549c;
}
.title-block{
    padding: 5%;

    background-color: aliceblue;
    border-radius: 15px;
}
.button-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.upload-button-container{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.upload-button{
    width: 90%;
    height: 100px;
}


.file-container{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: rgba(102, 194, 88, 0.474);
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    color: rgba(27, 29, 27, 0.794);
    cursor: pointer;
=======
h6{
    display: flex;
    justify-content: center;
    color: #1d549c;
}
.title-block{
    padding: 5%;

    background-color: aliceblue;
    border-radius: 15px;
}
.button-container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.upload-button-container{
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
.upload-button{
    width: 90%;
    height: 100px;
}


.file-container{
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: rgba(102, 194, 88, 0.474);
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
    color: rgba(27, 29, 27, 0.794);
    cursor: pointer;
>>>>>>> origin/main
}