<<<<<<< HEAD
.link{
    text-decoration: none;
    color: rgb(35, 128, 209);
    font-weight: bold;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
    color: rgb(12, 77, 135);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.link-div{
    padding: 10px;
    cursor: pointer;
=======
.link{
    text-decoration: none;
    color: rgb(35, 128, 209);
    font-weight: bold;
    cursor: pointer;
}
.link:hover{
    text-decoration: underline;
    color: rgb(12, 77, 135);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.link-div{
    padding: 10px;
    cursor: pointer;
>>>>>>> origin/main
}